@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

.cv__wrapper {
  user-select: none;
  background-color: rgb(82, 86, 89);
  padding: 5rem 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  .cv__content {
    background-color: #444444;
    color: white;
    width: 60%;
    margin: 0 auto;
    .content__top,
    .content__body {
      display: flex;
      padding: 3rem;
    }
    .content__top {
      padding-bottom: 0;
    }
  }
}

.content__top {
  .content__image {
    width: 20%;
    padding-top: 20%;
    overflow: hidden;
    // border-radius: 50%;
    background: url("../image/avatar.JPG") top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  .content__info {
    padding-left: 2rem;
    width: 80%;
    p {
      font-size: 1.4rem;
    }
    .name {
      font-size: 3rem;
      font-weight: 400;
      margin: 1rem 0;
    }
    .contact {
      display: flex;
      margin-bottom: 1rem;

      span {
        font-size: 1.4rem;
        line-height: 1.4rem;
        background: #1ed760;
        padding: 0.5rem 1rem;
        height: 2.4rem;
        margin-right: 1rem;
        border-bottom-left-radius: 2rem;
        border-top-right-radius: 2rem;
        a {
          display: block;
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: white;
          transition: 0.2s all;
          &:hover {
            text-shadow: 0 0 4px white;
          }
        }
      }
    }
  }
}

.content__body {
  .main {
    width: 50%;
    padding-right: 4rem;
  }
  .sub {
    width: 50%;
  }
  .content__block {
    letter-spacing: 1px;
    margin-top: 2.5rem;
    .block__title {
      h2 {
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        // border-bottom: 4px solid #1ed760;
        display: inline-block;
        position: relative;
        &::after {
          content: "";
          height: 5px;
          width: 100%;
          background: #1ed760;
          position: absolute;
          top: 100%;
          left: 0;
          border-bottom-left-radius: 4px;
          border-top-right-radius: 4px;
        }
      }
    }
    .block__item {
      margin-top: 1.5rem;
      .title {
        // margin-bottom: 2px;
        font-size: 1.4rem;
        .name {
          font-weight: 700;
          &:after {
            content: "";
            background: #1ed760;
            height: 8px;
            width: 8px;
            margin-left: 5px;
            border-radius: 50%;
            display: inline-block;
          }
        }
        .note {
          font-weight: 300;
        }
      }
      .time {
        color: #c7c7c7;
        font-size: 1.2rem;
      }
      .detail {
        font-size: 1.2rem;
        margin-top: 5px;
        font-weight: 300;
        a {
          text-decoration: none;
          color: white;
          font-style: italic;
          display: inline;
          transition: 0.2s all;
          &:hover {
            opacity: 0.8;
            color: #1ed760;
          }
        }
        p {
          display: flex;
          align-items: center;
          margin-bottom: 2px;
          ion-icon {
            margin-right: 3px;
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
